h1.uppercase{
  text-transform:uppercase;
  color:red;
}
h3.shiny{
  text-transform: uppercase;
  color:red;
}
h3.rainbow{
  text-transform:uppercase;
  color:red
}
h3.awards{
text-transform:uppercase;
color:red;
}
