h1.uppercase{
  text-transform:uppercase;
  color:red;
}
h3.shiny{
  text-transform: uppercase;
  color:red;
}
h3.rainbow{
  text-transform:uppercase;
  color:red
}
h3.award{
text-transform:uppercase;
color:red;
}
h3.edu{
  text-transform:uppercase;
  color:red;
}
p.pharma{
  text-transform:capitalize;
}
p.tree{
  text-transform:capitalize;
}
p.sk{
  text-transform:capitalize;
}
p.date1{
  text-align:right;
}
p.date2{
  text-align:right;
  }
p.date3{
  text-align:right;
}
p.date4{
  text-align:right;
}
p.date5{
  text-align:right;
}






